@keyframes logo-spinner-anim {
    to {transform: rotate(360deg);}
}

.logo-spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 80px;
    height: 80px;
    margin-top: -15px;
    margin-left: -11px;
    border-radius: 50%;
    border-top: 2px solid #4853a2;
    border-right: 2px solid transparent;
    animation: logo-spinner-anim .9s linear infinite;
}

.logo-spinner-wrapper {
    position: relative;
}