.badge {
  padding: 5px 10px;
  border-radius: 57px;
  color: #fff;

  & .img {
    width: 13px;
    margin-right: 5px;
  }

  &.done {
    background-color: #4AA248;
  }
  &.break {
    background-color: #CC3D3D;
  }
  &.process {
    background-color: #F2994A;
  }
}